<ion-header style="display: flex; justify-content: space-between; text-align: center;">
  <ion-toolbar> 
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="log-out-outline"></ion-icon>
        Çıkış
      </ion-button>
    </ion-buttons>
    <ion-title>Solid Buttons</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="saveImages()">
        <ion-icon slot="end" name="send-outline"></ion-icon>
        Gönder
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input [(ngModel)]="serialNumber" label="Seri Numarası" label-placement="floating" placeholder="Seri numarası giriniz"></ion-input>
  </ion-item>
  <ion-button (click)="scanBarcode()">Barkod Tara</ion-button>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let img of images">
        <ion-img [src]="img" class="thumbnail"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
  <ion-fab-button class="take-photo" (click)="takePhoto()">
    <ion-icon name="camera"></ion-icon>
  </ion-fab-button>
</ion-fab>